@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/* using the root score */
:root {
  --primary-color: #047aed;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  margin: 10px;
  line-height: 1.2 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}
/* styling the navbar */
.navbar {
  background-color: var(--primary-color);
  color: #ffff;

  height: 70px;
}

.navbar a {
  color: #ffff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #ffff solid;
}
/* showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #ffff;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}
/* Utilities */
.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
